

<div class="row">
    <div class="col-sm-3">
     
 <div class="card mb-3 border-0">
 <div class="card-body text-center">   
  
   <div class="img">
 <img src="../assets/user1.png" alt="avatar" class="rounded" style="width: 150px;">
</div>
    <div class="card-title d-flex justify-content-start align-items-center mt-1 p-2 " style="margin-left: 90px;">  
  <div *ngFor="let teacher of teacher" class="row fs-6 ">   
    <h4>Daniel Grant</h4>
  <p>sed ut perspiciatis unde omnis iste natus
    error sit voluptatem accusantium
    doloremque  laudantium, totam rem
    aperian eaque ipsa
  </p>
  <br>
  <br>
  <br>
 <br>

     <p><b>ID Number:</b>  {{teacher.idnumber}}</p>
  <br>
    <p><b>Name: </b>{{teacher.name}}</p>
    <br>
    <p><b>Gender:</b>{{teacher.gender}}</p>
    <br>
    <p><b>Father Name:</b>{{teacher.fathername}}</p>
    <br>
    <p><b>Mother Name:</b>{{teacher.mothername}}</p>
     <br>
      <p><b>Date ogf Birth: </b>{{teacher.dateofbirth}}</p>
      <br>
    <p><b>Religion: </b>{{teacher.religion}}</p>
    <br>
    <p><b>Father occuption: </b>{{teacher.fatheroccupation}}</p>
    <br>
    <p><b>E-mail: </b>{{teacher.email}}</p>
    <br>
    <p><b>Admission Date: </b>{{teacher.admissiondate}}</p>
    <br>
    <p><b>Class: </b>{{teacher.class}}</p>
    <br>
   
  </div>
     </div>
    </div>       
     </div>  
     
     
    
    
    
